@using OIMS.Global
@model OIMS.Models.Requestor.CartModel

@{
    // Set ajax options
    var ajaxOptions = new AjaxOptions
    {
        HttpMethod = "GET",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "contentPanel",
        OnBegin = "ShowLoader",
        OnSuccess = "HideLoader",
        OnFailure = "HandleError"
    };
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>@Requestor.PageTitle</title>
    <link href="~/Content/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    @Styles.Render("~/Content/r-css")
    @Html.Partial("_Scripts")
</head>
<body>
    <!--header-->
    <section id="header">
        <div class="clearfix container" id="shopbar">
            <div class="container">
                @Html.Partial("SubView/_HeaderBar",Model)
            </div>
        </div>
        <div class="container" id="logobar">
            <span class="brand">
                <img title="@Common.PageTitle" alt="@Common.PageTitle" src="@Application.LogoUrl" />
            </span>
        </div>
    </section>
    <!--header end-->
    <!--menu-->
    <div class="container">
        <div class="navbar" id="megamenu">
            <div class="navbar-inner" style="overflow: visible;">
                <div class="container">
                    <ul style="margin-right: 0;" class="nav nav-smart shrinkable">
                        <li>@Ajax.ActionLink(Requestor.TabNewRequest, "NewRequest", "Requestor", ajaxOptions)
                        </li>
                        <li class="divider-vertical"></li>
                        <li>@Ajax.ActionLink(Requestor.TabRequests, "Requests", "Requestor", ajaxOptions)
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--menu ends-->
    <!--content start-->
    <div id="content-wrapper">
        <section class="container" id="content">
            <div class="row" id="content-body">
                <div id="content-center" class="span24 alpha omega">
                    <div class="page">
                        <div class="page-body">
                            <div class="block topic-html-content" id="contentPanel">
                                @RenderBody()
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!--content ends-->
    <!--footerstart-->
    <div id="footer-wrapper">
        <div class="footer-disclaimer container clearfix">
            <div class="pull-right copySize">@Html.Raw(string.Format(Common.FooterCopyright, DateTime.Now.Year))</div>
        </div>
    </div>
    <!--footerends-->

    @Html.DevExpress().LoadingPanel(
        settings =>
        {
            settings.Name = "LoadingPanel";
            settings.Modal = true;
            settings.Theme = "ClinicalStudyTheme";
            settings.ContainerElementID = "page-body";
            settings.Text = Common.LoaderMsg;

        }
    ).GetHtml()

    @Scripts.Render("~/bundles/oims-base")
    @Scripts.Render("~/bundles/oims-base-reqExt")
</body>
</html>




